* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: .3s all ease-in-out;
  font-family: 'Poppins';
}

body {
  overflow-x: hidden;
}

a {
  color: #fff;
}

a:hover {
  color: #00FFA7;
}

a.active {
  color: #00FFA7;
}

p {
  font-size: 13px;
}

.header {
  background: #000;
  color: #fff;
}

.services {
  padding: 0 100px;
}

@media screen and (max-width: 600px) {
  .services {
    padding: 0 20px;
  }
}